.footer {
  background: #efefef;
}
footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
footer small {
}
footer small a {
  text-decoration: none;
  color: #000;
}
footer small a:hover {
  text-decoration: underline;
}
